.hero__search-inner .wpcf7-form-control.wpcf7-submit.m-btn.ml-20 {
	position: absolute;
	right: 60px;
	bottom: 6px;
}
.subscribe__form .wpcf7-form-control.wpcf7-submit.m-btn.m-btn-black {
	/* position: absolute; */
	/* bottom: 70px; */
	/* width: 160px; */
	/* right: 480px; */
	width: auto;
	margin: 0;
}
.contact__form .wpcf7-form-control.wpcf7-submit.m-btn.m-btn-4 {
	border: none;
}

div.icon_remove::after {
	display: none;
}
.blog__icon i{
	position: absolute;
	left: 0;
	top: -2px;
	font-size: 22px;
	color: #0d0b33;
	font-weight: 300;
}
.subscribe__form .wpcf7 .ajax-loader {
	display: none;
}